.App {
  font-family: sans-serif;
  text-align: center;
}

.tvshow-info {
  text-align: left;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 0.2rem;
}

.tvshow-name {
  font-size: large;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.genre-btn {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
